<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>视频自动化采集发布系统</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="/static/css/main.css" rel="stylesheet"/>
    <link href="/static/css/bootstrap-select.css" rel="stylesheet"/>
    <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-select.js"></script>

    <script>

        $(document).ready(function(){
            findTags();
            setInterval("updateData()",10000);
        });

        var collect = function() {
            var keyWord=$('#inputTags option:selected').val();
            var pageNum=0;
            $.ajax({
                type: "post",
                url: '/video/collect',
                async: false,
                data: JSON.stringify({
                    keyWord: keyWord,
                    pageNum: pageNum
                }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data) {
                    $('#result').text(data.result);
                }
            });
        }

        var publish = function() {
            $("#inputTags").attr("disabled", true);
            var keyWord=$('#inputTags option:selected').val();
            var pageNum=0;
            $.ajax({
                type: "post",
                url: '/video/publish',
                async: false,
                data: JSON.stringify({
                    keyWord: keyWord,
                    pageNum: pageNum
                }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data) {
                    $('#result').text(data.result);
                }
            });
            $("#inputTags").attr("disabled", false);
        }

        var findTags = function() {
            $.ajax({
                type: "get",
                url: '/video/tags',
                async: false,
                dataType: "json",
                success: function(data) {
                    var listData = data['data'];
                    $("#inputTags option").remove();
                    for (var i = 0; i < listData.length; i++) {
                        $('#inputTags').append("<option value=" + listData[i] + ">" + listData[i] + "</option>");
                    }
                }
            });

        }

        var crawStatus = function() {
            $.ajax({
                type: "post",
                url: '/video/status/craw',
                async: false,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data) {
                    var taskStatus = data['data']['taskStatus'];
                    if (taskStatus == 1) {
                        $('#crawStatus').text('运行中');
                        $("#beginCollect").attr("disabled","disabled");
                    } else {
                        $('#crawStatus').text('未运行');
                        $("#beginCollect").attr("disabled",false);
                    }
                }
            });
        }
        var publishStatus = function() {
            $.ajax({
                type: "post",
                url: '/video/status/publish',
                async: false,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data) {
                    var taskStatus = data['data']['taskStatus'];
                    if (taskStatus == 1) {
                        $('#publishStatus').text('运行中');
                        $("#beginPublish").attr("disabled","disabled");
                    } else {
                        $('#publishStatus').text('未运行');
                        $("#beginPublish").attr("disabled",false);
                    }
                }
            });
        }

        var crawNumber = function(keyWord, pageNum) {
            $.ajax({
                type: "post",
                url: '/video/number/craw',
                async: false,
                data: JSON.stringify({
                    keyWord: keyWord,
                    pageNum: pageNum
                }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data) {
                    $('#crawNum').text(data['data']);
                }
            });
        }

        var publishNumber = function(keyWord, pageNum) {
            $.ajax({
                type: "post",
                url: '/video/number/publish',
                async: false,
                data: JSON.stringify({
                    keyWord: keyWord,
                    pageNum: pageNum
                }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data) {
                    $('#publishNum').text(data['data']);
                }
            });
        }

        var updateData = function() {
            var keyWord=$('#inputTags option:selected').val();
            var pageNum=0;
            crawStatus();
            publishStatus();
            if (keyWord !== null && keyWord.length !== 0) {
                publishNumber(keyWord, pageNum);
                crawNumber(keyWord, pageNum);
            }

        }

    </script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">视频自动化采集发布系统</a>
        </div>
    </nav>
    <div id="content" class="row-fluid">
        <div class="col-md-3">
            <ul class="nav nav-tabs nav-stacked">
                <li><a href='#'>发布</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <!--采集-->
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="inputTags" class="col-sm-3 control-label">视频标签：</label>
                    <div class="col-sm-6">
                        <select id="inputTags" onchange="updateData()">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="crawNum" class="col-sm-3 control-label">已抓取数量：</label>
                    <div class="col-sm-6">
                        <p class="form-control-static" id="crawNum"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="publishNum" class="col-sm-3 control-label">已发布数量：</label>
                    <div class="col-sm-6">
                        <p class="form-control-static" id="publishNum"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="crawStatus" class="col-sm-3 control-label">采集任务状态：</label>
                    <div class="col-sm-6">
                        <p class="form-control-static" id="crawStatus"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="publishStatus" class="col-sm-3 control-label">发布任务状态：</label>
                    <div class="col-sm-6">
                        <p class="form-control-static" id="publishStatus"></p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-3">
                        <button type="button" onclick="collect()" class="btn btn-default" id="beginCollect" disabled>开始采集</button>
                    </div>
                    <div class="col-sm-offset-2 col-sm-3">
                        <button type="button" onclick="publish()" class="btn btn-default" id="beginPublish">开始发布</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>


</body>
</html>