 /.idea/*
 gitagent-batch/target/*
 agent-common/target/*
 agent-service/target/*
 agent-web/target/*
 *.iml
 logs/*
 agent-batch/.DS_Store
 agent-service/.DS_Store
 agent-web/.DS_Store
 agent-common/.DS_Store