<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">


    <bean id="dataSourceMysql" parent="abstractDataSource">
        <property name="driverClassName" value="${db.jdbc.driver}"/>
        <property name="maxActive" value="${db.jdbc.maxActive}"/>
        <property name="url" value="${db.jdbc.url}"/>
        <property name="username" value="${db.jdbc.username}"/>
        <property name="password" value="${db.jdbc.password}"/>
    </bean>

    <!-- 所有datasource公用的配置信息 -->
    <bean id="abstractDataSource" class="com.alibaba.druid.pool.DruidDataSource"
          destroy-method="close">
        <property name="filters" value="${db.datasource.filters}"/>
        <property name="defaultAutoCommit" value="${db.datasource.defaultAutoCommit}"/>
        <property name="initialSize" value="${db.datasource.initialSize}"/>
        <property name="minIdle" value="${db.datasource.minIdle}"/>
        <property name="maxWait" value="${db.datasource.maxWait}"/>
        <property name="testWhileIdle" value="${db.datasource.testWhileIdle}"/>
        <property name="testOnBorrow" value="${db.datasource.testOnBorrow}"/>
        <property name="testOnReturn" value="${db.datasource.testOnReturn}"/>
        <property name="validationQuery" value="${db.datasource.validationQuery}"/>
        <property name="timeBetweenEvictionRunsMillis"
                  value="${db.datasource.timeBetweenEvictionRunsMillis}"/>
        <property name="minEvictableIdleTimeMillis" value="${db.datasource.minEvictableIdleTimeMillis}"/>
        <property name="logAbandoned" value="${db.datasource.logAbandoned}"/>
        <property name="removeAbandoned" value="${db.datasource.removeAbandoned}"/>
        <property name="removeAbandonedTimeout" value="${db.datasource.removeAbandonedTimeout}"/>
        <property name="validationQueryTimeout" value="${db.datasource.validationQueryTimeout}"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSourceMysql"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven>

    <bean id="sqlSessionFactory" name="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSourceMysql"/>
        <property name="mapperLocations">
            <list>
                <value>classpath:/mybatis.mapper/*.xml</value>
            </list>
        </property>
    </bean>


    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.eden.agent.dao"/>
        <property name="annotationClass" value="org.springframework.stereotype.Repository"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>


</beans>